<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,693}</string>
                <key>spriteSourceSize</key>
                <string>{750,693}</string>
                <key>textureRect</key>
                <string>{{643,1},{750,693}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,50}</string>
                <key>spriteSourceSize</key>
                <string>{63,50}</string>
                <key>textureRect</key>
                <string>{{1330,1392},{63,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{503,1141},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,72}</string>
                <key>spriteSourceSize</key>
                <string>{62,72}</string>
                <key>textureRect</key>
                <string>{{1330,1444},{62,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,3}</string>
                <key>spriteSourceSize</key>
                <string>{600,3}</string>
                <key>textureRect</key>
                <string>{{503,1801},{600,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,129}</string>
                <key>spriteSourceSize</key>
                <string>{99,129}</string>
                <key>textureRect</key>
                <string>{{503,1261},{99,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,29}</string>
                <key>spriteSourceSize</key>
                <string>{500,29}</string>
                <key>textureRect</key>
                <string>{{1,1815},{500,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,25}</string>
                <key>spriteSourceSize</key>
                <string>{60,25}</string>
                <key>textureRect</key>
                <string>{{1330,1518},{60,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,25}</string>
                <key>spriteSourceSize</key>
                <string>{59,25}</string>
                <key>textureRect</key>
                <string>{{732,1806},{59,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,24}</string>
                <key>spriteSourceSize</key>
                <string>{150,24}</string>
                <key>textureRect</key>
                <string>{{503,1806},{150,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,97}</string>
                <key>spriteSourceSize</key>
                <string>{75,97}</string>
                <key>textureRect</key>
                <string>{{1269,1811},{75,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,358}</string>
                <key>spriteSourceSize</key>
                <string>{750,358}</string>
                <key>textureRect</key>
                <string>{{643,696},{750,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game20.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1138}</string>
                <key>spriteSourceSize</key>
                <string>{640,1138}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game21.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,672}</string>
                <key>spriteSourceSize</key>
                <string>{500,672}</string>
                <key>textureRect</key>
                <string>{{1,1141},{500,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,334}</string>
                <key>spriteSourceSize</key>
                <string>{750,334}</string>
                <key>textureRect</key>
                <string>{{643,1056},{750,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,162}</string>
                <key>spriteSourceSize</key>
                <string>{500,162}</string>
                <key>textureRect</key>
                <string>{{1105,1392},{500,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,298}</string>
                <key>spriteSourceSize</key>
                <string>{59,298}</string>
                <key>textureRect</key>
                <string>{{1269,1392},{59,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,20}</string>
                <key>spriteSourceSize</key>
                <string>{150,20}</string>
                <key>textureRect</key>
                <string>{{1,1846},{150,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,68}</string>
                <key>spriteSourceSize</key>
                <string>{117,68}</string>
                <key>textureRect</key>
                <string>{{1269,1692},{117,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,407}</string>
                <key>spriteSourceSize</key>
                <string>{600,407}</string>
                <key>textureRect</key>
                <string>{{503,1392},{600,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,75}</string>
                <key>spriteSourceSize</key>
                <string>{73,75}</string>
                <key>textureRect</key>
                <string>{{655,1806},{73,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1394,1893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a40281992a38a07b815391a87025ad7:859f158ed8d74b691408e9e9d371f884:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
